*, html {
  box-sizing: border-box;
}

body {
  overscroll-behavior-y: contain;
  overflow: hidden;
  margin: 0;
  padding: 0;
  user-select: none;
  font-family: -apple-system, BlinkMacSystemFont, avenir next, avenir,
    helvetica neue, helvetica, ubuntu, roboto, noto, segoe ui, arial, sans-serif;
//    background: rgba(0,0,0,.2);

}
#root {
  background: transparent;
}


.gradient--left-2 {
//background: rgb(255,255,255);
background-color: rgba(147, 147, 147, 0.68);
background: -moz-linear-gradient(90deg, rgba(0,0,0,0.03) 0%, rgba(255,255,255,1) 65%, rgba(0,0,0,0.01) 75%, rgba(255,255,255,1) 85%);
background: -webkit-linear-gradient(90deg, rgba(0,0,0,0.03) 0%, rgba(255,255,255,1) 65%, rgba(0,0,0,0.01) 75%, rgba(255,255,255,1) 85%);
background: linear-gradient(90deg, rgba(0,0,0,0.03) 0%, rgb(255,255,255) 65%, rgba(0,0,0,0.1) 75%, rgb(255,255,255) 85%);
filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#000000",endColorstr="#ffffff",GradientType=1);
}

.gradient--left {
  background-color: rgba(147, 147, 147, 0.68);
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuNjUiLz48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMSIgb2Zmc2V0PSIwLjc1Ii8+PHN0b3Agc3RvcC1jb2xvcj0iI2ZmZmZmZiIgc3RvcC1vcGFjaXR5PSIxIiBvZmZzZXQ9IjAuODUiLz48L2xpbmVhckdyYWRpZW50PjxyZWN0IHg9IjAiIHk9IjAiIHdpZHRoPSIxIiBoZWlnaHQ9IjEiIGZpbGw9InVybCgjdnNnZykiIC8+PC9zdmc+);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgba(0, 0, 0, 0.3)),color-stop(0.65, rgb(255, 255, 255)),color-stop(0.75, rgba(0, 0, 0, 0.1)),color-stop(0.85, rgb(255, 255, 255)));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.3) 0%,rgb(255, 255, 255) 65%,rgba(0, 0, 0, 0.1) 75%,rgb(255, 255, 255) 85%);
  /* IE10+ */
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3) 0%,rgb(255, 255, 255) 65%,rgba(0, 0, 0, 0.1) 75%,rgb(255, 255, 255) 85%);
  background-image: -ms-linear-gradient(left,rgba(0, 0, 0, 0.3) 0%,rgb(255, 255, 255) 65%,rgba(0, 0, 0, 0.1) 75%,rgb(255, 255, 255) 85%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient--left {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d000000",endColorstr="#ffffffff",GradientType=1);
  }
}


.gradient--right {
  background-color: rgba(172, 172, 172, 0.02);
  /* IE9, iOS 3.2+ */
  background-image: url(data:image/svg+xml;base64,PHN2ZyB4bWxucz0iaHR0cDovL3d3dy53My5vcmcvMjAwMC9zdmciIHdpZHRoPSIxMDAlIiBoZWlnaHQ9IjEwMCUiIHZpZXdCb3g9IjAgMCAxIDEiIHByZXNlcnZlQXNwZWN0UmF0aW89Im5vbmUiPjxsaW5lYXJHcmFkaWVudCBpZD0idnNnZyIgZ3JhZGllbnRVbml0cz0idXNlclNwYWNlT25Vc2UiIHgxPSIwJSIgeTE9IjAlIiB4Mj0iMTAwJSIgeTI9IjAlIj48c3RvcCBzdG9wLWNvbG9yPSIjMDAwMDAwIiBzdG9wLW9wYWNpdHk9IjAuMyIgb2Zmc2V0PSIwIi8+PHN0b3Agc3RvcC1jb2xvcj0iI2I4YjhiOCIgc3RvcC1vcGFjaXR5PSIwIiBvZmZzZXQ9IjAuMTI5Ii8+PC9saW5lYXJHcmFkaWVudD48cmVjdCB4PSIwIiB5PSIwIiB3aWR0aD0iMSIgaGVpZ2h0PSIxIiBmaWxsPSJ1cmwoI3ZzZ2cpIiAvPjwvc3ZnPg==);
  background-image: -webkit-gradient(linear, 0% 0%, 100% 0%,color-stop(0, rgba(0, 0, 0, 0.3)),color-stop(0.129, rgba(184, 184, 184, 0)));
  /* Android 2.3 */
  background-image: -webkit-linear-gradient(left,rgba(0, 0, 0, 0.3) 0%,rgba(184, 184, 184, 0) 12.9%);
  /* IE10+ */
  background-image: linear-gradient(to right,rgba(0, 0, 0, 0.3) 0%,rgba(184, 184, 184, 0) 12.9%);
  background-image: -ms-linear-gradient(left,rgba(0, 0, 0, 0.3) 0%,rgba(184, 184, 184, 0) 12.9%);
}

/* IE8- CSS hack */
@media \0screen\,screen\9 {
  .gradient--right {
      filter: progid:DXImageTransform.Microsoft.gradient(startColorstr="#4d000000",endColorstr="#00b8b8b8",GradientType=1);
  }
}



#book-container {
  margin: 50px auto;
  //width: 600px; // neeed 600 when open
  //height: 400px;
  position: relative;
  display: flex;
}
  .page::before{
    content: "";
    width: 6px;
    background-image: linear-gradient(to left,rgba(0,0,0,.7), rgba(0,0,0,.1));
    left:-6px;
  }
  .page {
    //float: left;
    width: 50%;
    height: 100%;
    position: absolute;
    box-shadow: inset -2px 0px 5px 0px rgba(0,0,0, .2);
    background-color:#fff;
    //border: 1px solid #ccc;
    padding: 30px;
    font-size: 12px;
    //left: 50%;

    transform-origin: 0% 0%;

    &:first-child {
      left: 0;
    }

    .img {
      display: flex;
      justify-content: center;
      align-items: center;
      img {
        max-width: 90%;
        margin:20px auto;
      }
    }



  }

  .shadow {
    position: absolute;
    background-image: linear-gradient(to right, rgba(0, 0, 0, 0.3) 0%,rgba(184, 184, 184, 0) 100%);
    width: 60px;
    //background-color: #000;
    height: 100%;
    z-index: 2;
    transform-origin: 0 0;
  }


